footer {
  background-color: $dark;
  height: 360px;
  color: $light;
}

.footer_top {
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  box-sizing: border-box;
}

.footer_logo {
  width: 20%;
}

.footer_menu {
  display: flex;
  width: 80%;
  justify-content: flex-end;

  nav {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 240px;
    width: 350px;
    padding: 0;
  }

  ul:last-child {
    width: 200px;
    // margin-left: 70px;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
  }

  a {
    color: $light;
    line-height: 1.4;
  }
}

.footer_bottom {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@media (max-width: 850px) {
  .footer {
    height: 470px;
  }

  .footer_top {
    height: 400px;
    flex-direction: column;
    align-items: center;
  }

  .footer_logo {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .footer_menu {
    width: 100%;
    nav {
      width: 90%;
      font-size: 14px;
    }
  }
}

@media (max-width: 500px) {
  .footer_menu {
    nav {
      flex-direction: column;
      ul {
        height: 150px;
      }
    }
  }
}

@media (max-width: 420px) {
  .footer {
    height: 470px;
    min-width: 320px;
  }

  .footer_top {
    padding-top: 10px;
  }

  .footer_menu {
    min-width: 320px;
    nav {
      flex-direction: column;
      ul {
        height: 200px;
        max-width: 300px;
      }
    }
  }
}
