.hero {
  max-height: 616px;
  margin-top: 50px;
  box-sizing: border-box;
}

.hero_top {
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  h1 {
    max-width: 580px;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    line-height: 120%;
  }

  p {
    max-width: 380px;
    font-size: 16px;
    margin: 30px 0;
  }
}

.hero_img {
  margin-top: 20px;
  //   width: 100%;
  img {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .hero_top {
    h1 {
      font-size: 48px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .hero_top {
    flex-direction: column;
    align-items: center;

    h1,
    p {
      text-align: center;
    }
  }

  .hero_img {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 410px;
  }
}

@media (max-width: 420px) {
  .hero {
    height: 270px;
  }

  .hero_top {
    flex-direction: column;
    align-items: center;
    height: 120px;

    h1 {
      font-size: 24px;
    }

    p {
      text-align: center;
      margin: 5px 0;
    }
  }
  .hero_img {
    margin: 0;
  }
}
