.products {
  height: 985px;

  h2 {
    font-size: 48px;
    line-height: 120%;
  }
}

.products-items {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  //   height: 100%;
  //   width: 100%;
}

.product-item {
  width: 32.21%;
  height: 435px;
  background-color: $light-grey;
  margin-bottom: 15px;
  padding: 20px;
  box-sizing: border-box;

  .item-img {
    height: 300px;
  }
  img {
    width: 200px;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;

    line-height: 120%;
    margin: 0;
    margin-bottom: 20px;
  }

  a {
    color: $accent;
    font-size: 20px;
    position: relative;
  }
  a::after {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    top: 10px;
    left: 105px;
    border-right: 1px solid $accent;
    border-bottom: 1px solid $accent;
    transform: rotate(-45deg);
  }
}

@media (max-width: 1100px) {
  .product-item {
    h3 {
      font-size: 24px;
    }
  }
}

@media (max-width: 900px) {
  .products {
    height: 850px;
  }
  .product-item {
    height: 380px;
    .item-img {
      height: 250px;
    }
    h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .products {
    height: 1800px;
  }
  .products-items {
    flex-direction: column;
  }
  .product-item {
    width: 100%;
    height: 270px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .item-img {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .item-text {
      flex-direction: column;
      display: flex;
      margin-left: 50px;
      position: relative;

      h3 {
        font-size: 30px;
        padding-top: 70px;
        margin-bottom: 120px;
      }

      a {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
@media (max-width: 500px) {
  .products {
    height: 1800px;
    h2 {
      font-size: 36px;
    }
  }
  .product-item {
    .item-img {
      //   height: 200px;
      img {
        width: 150px;
      }
    }

    .item-text {
      h3 {
        font-size: 24px;
      }

      a {
        position: absolute;
        bottom: 10px;
        right: 30px;
      }
    }
  }
}

@media (max-width: 420px) {
  .products {
    height: 1350px;
    h2 {
      font-size: 32px;
    }
  }
  .product-item {
    height: 200px;
    .item-img {
      img {
        width: 100px;
      }
    }

    .item-text {
      margin-left: 30px;
      h3 {
        font-size: 20px;
        padding-top: 20px;
      }

      a {
        position: absolute;
        bottom: 10px;
        right: 30px;
        font-size: 16px;
      }
      a::after {
        content: "";

        top: 5px;
        left: 85px;
      }
    }
  }
}
